<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  May Node and Express be with you.

  <ul class="posts">
  <% for(var i=0; i<posts.length; i++) {%>
    <li class="quote">
      <span><%= posts[i].pageTitle %></span>
      <span><%= posts[i].pageContent %></span>
      <span><%= posts[i].pageSlug %></span>
    </li>
  <% } %>
  </ul>

  <form action="/posts" method="POST">
    <input type="text" placeholder="Page Title" name="pageTitle">
    <input type="text" placeholder="Content" name="pageContent">
    <button type="submit">Submit</button>
  </form>
</body>
</html>