<div class="sidebar" data-color="purple" data-image="../../assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="" class="simple-text">
                    
                </a>
                </div>

                <ul class="nav">
                    <li  class="dropdown">
                        <a href="/admin/pages">
                        <i class="pe-7s-graph"></i>
                        <p>Pages</p>
                            
                    </a>
            <ul class="dropdown-menu" aria-labelledby="page-menu">
                             <li><a href="/admin/posts/newpage"><p>New Page</p></a></li>
                            </ul>
                    </li>
                    <li class="active">
                        <a href="/admin/posts">
                        <i class="pe-7s-news-paper"></i>
                        <p>Posts</p>
                        
                    </a>
                            <ul>
                             <li><a href="/admin/posts/newpost"><p>New Post</p></a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="/admin/portfolio">
                        <i class="pe-7s-photo"></i>
                        <p>Portfolio</p>
                    </a>
                    </li>
                    <li>
                        <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Typography</p>
                    </a>
                    </li>
                    <li>
                        <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                    </li>
                    <li>
                        <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                    </li>
                    <li class="active-pro">
                        <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                    </li>
                </ul>
            </div>
        </div>